#bannerwrap{
	background: url(../img/banner.jpg) no-repeat center top;
	background-size: cover;
	min-height: 650px;
	background-position: center center;
	width: 100%;
	margin-top: 50px;
	padding-top: 250px;
	text-align: center;
	color: white;
}
section{
	border: 2px black dashed;
	padding: 20px;
	margin: 20px;
}
footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	padding-top:20px;

	margin: 20px;
	border: 2px black dashed;
}